.form-control {
  position: relative;
  .field-text,
  .field-number,
  .field-email {
    position: relative;
    border: 1px solid #cfd6dd;
    margin: 4rem auto 1rem auto;
    direction: rtl;
    .label {
      top: -1.5rem;
      right: 0;
      transform: translateY(-50%);
      font-size: 16px;
      position: absolute;
      font-family: yekan;
    }
    .input {
      font-family: sahel;
      padding: 8px 40px 8px 8px;
      width: 100%;
      font-size: 16px;
      &::placeholder {
        font-size: 12px;
      }
    }
    .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      color: #cfd6dd;
    }
  }
  .rules {
    span {
      font-size: 12px !important;
    }
  }
}
// number
.field-number {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}
// password
.form-control {
  position: relative;
  .field-password {
    position: relative;
    border: 1px solid #cfd6dd;
    margin: 4rem auto 1rem auto;
    direction: rtl;
    .label {
      top: -1.5rem;
      right: 0;
      transform: translateY(-50%);
      font-size: 16px;
      position: absolute;
      font-family: yekan;
    }
    .input {
      font-family: sahel;
      padding: 8px 40px 8px 40px;
      width: 100%;
      font-size: 16px;
      &::placeholder {
        font-size: 12px;
      }
    }
    .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      color: #cfd6dd;
    }
  }
  .error {
    text-align: right;
    font-family: vazir;
    color: red;
    font-size: 12px;
  }
  .show-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    cursor: pointer;
  }
}
