.section-one {
  cursor: pointer;
  .main {
    background-color: #fff;
    height: 70px;
    width: 10rem;
    .el {
      flex-grow: 1;
      .el-comment {
        font-size: 0.7rem;
      }
    }
    .el-change {
      width: 100%;
      height: 100% !important;
      flex-grow: 1;

    }
    .icon {
      padding: 0 6px;
      i {
        font-size: 1.3rem;
        color: #333;
      }
    }
  }
  @media screen and (max-width: 991px) {
    & {
      width: 100%;
      display: inline !important;
      .main {
        width: 100% !important;
        border: 4px solid #dfe4ea;
      }
    }
  }
}