.title-header {
  width: 100%;
  text-align: center !important;
  h1{
      font-size: 2rem;
      color: rgb(39, 38, 38);
      margin: 20px 0;
  }
  div{
      font-family: vazir;
      color: #333;
  }
}
