.flights {
  transition: all 0.5s;
  .info-flight {
    margin: 50px 10px 0 10px;
    padding: 10px 25px;
    border: 1px solid orangered;
    .paths {
      font-family: sahel;
      .own-way,
      .two-way {
        cursor: pointer;
      }
      .own-way.active {
        color: orangered;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          margin-top: 5px;
          top: 100%;
          height: 2px;
          width: 100%;
          background-color: orangered;
        }
      }
      .two-way.active {
        color: orangered;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          margin-top: 5px;
          top: 100%;
          height: 2px;
          width: 100%;
          background-color: orangered;
        }
      }
      @media screen and (max-width: 991px) {
        & {
          justify-content: center;
        }
      }
    }
    .btn-search {
      width: 100%;
      display: flex;
      justify-content: end;
      button {
        padding: 16px 42px;
        background: linear-gradient(-45deg, #ff512f, #f09819);
        color: #fff;
        font-size: 1rem;
      }
      @media screen and (max-width: 991px) {
        & {
          display: grid;
          grid-template-columns: 100%;
          button {
            width: 100%;
          }
        }
      }
    }
    .flight-items {
      flex-wrap: wrap;
      position: relative;
      @media screen and (max-width: 991px) {
        flex-direction: column;
        .paths {
          justify-content: center !important;
        }
        .seg1 .origin {
          width: 100% !important;
          border: 4px solid #dfe4ea;
        }
        .seg2 .movement {
          position: absolute;
          z-index: 999;
          left: 5%;
          border: 4px solid #dfe4ea;
          top: 15%;
          padding: 10px 5px !important;
        }
        .seg3 .destination {
          width: 100% !important;
          border: 4px solid #dfe4ea;
        }
        .seg4 {
          margin: unset !important;
          .date-travel {
            width: 100% !important;
            border: 4px solid #dfe4ea;
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            .departure-date {
              text-align: right;
            }
          }
          .return-date {
            text-align: right;
          }
        }
        .seg5 {
          .passengers {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            width: 100% !important;
            border: 4px solid #dfe4ea;
          }
        }
      }
      .icon {
        padding: 0 6px;
        i {
          font-size: 1.3rem;
          color: #333;
        }
      }
      .seg1 {
        cursor: pointer;
        display: inline-block;
        .origin {
          background-color: #fff;
          padding: 10px 0;
          height: 70px;
          width: 10rem;
          .input {
            width: 100%;
            height: 100% !important;
            flex-grow: 1;
            input {
              width: 100%;
              font-size: 0.8rem;
              font-family: vazir;
              height: 100%;
            }
          }
          .info {
            flex-grow: 1;
            .airport {
              font-size: 0.7rem;
            }
          }
        }
      }
      .seg2 {
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;
        .movement {
          background-color: #fff;
          max-width: 60px;
          padding: 23px 0;
        }
      }
      .seg3 {
        display: inline-block;
        cursor: pointer;
        .destination {
          background-color: #fff;
          padding: 10px 0;
          height: 70px;
          .input {
            width: 100%;
            height: 100% !important;
            flex-grow: 1;
            input {
              width: 100%;
              font-size: 0.8rem;
              font-family: vazir;
              height: 100%;
            }
          }
          width: 10rem;

          .info {
            flex-grow: 1;
            .airport {
              font-size: 0.7rem;
            }
          }
        }
      }
      .seg4 {
        cursor: pointer;
        display: inline-block;
        background-color: #fff;
        margin: 0 10px;
        .date-travel {
          .departure-date {
            padding: 10px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 20%;
              width: 1px;
              height: 60%;
              background-color: rgb(184, 184, 184);
            }
            .info {
              flex-grow: 1;
              margin-right: 10px;
              .date {
                font-size: 14px;
              }
              .date-details {
                font-size: 0.7rem;
              }
            }
          }
          .return-date {
            padding: 10px;
            background-color: #fff;
            .info {
              flex-grow: 1;
              margin-right: 10px;
              .date {
                font-size: 14px;
              }
              .date-details {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
      .seg5 {
        display: inline-block;
        cursor: pointer;
        .passengers {
          background-color: #fff;
          width: 15rem;
          .passenger {
            font-size: 14px;
          }
        }
        .class-type {
          font-size: 14px;
          position: relative;
          padding: 20px 0;
          &::after {
            content: "";
            position: absolute;
            top: 20%;
            left: 0;
            width: 1px;
            height: 60%;
            background-color: rgb(184, 184, 184);
          }
        }
      }
      .origin-citys {
        width: 400px;
        position: absolute;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        display: block;
        background-color: #fff;
        font-family: vazir;
        .internal-out {
          border-bottom: 1px solid #ff4500;
        }
        .origin-citys-head {
          background-color: rgb(238, 231, 231);
          font-size: 14px;
          font-weight: 400;
        }
        .citys {
          font-size: 12px;
          .city {
            cursor: pointer;
            &:hover {
              background-color: rgba(255, 145, 0, 0.5);
            }
          }
        }
      }
      .movement-citys {
        width: 400px;
        position: absolute;
        right: 20%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        display: block;
        background-color: #fff;
        font-family: vazir;
        .internal-out {
          border-bottom: 1px solid #ff4500;
        }
        .movement-citys-head {
          background-color: rgb(238, 231, 231);
          font-size: 14px;
          font-weight: 400;
        }
        .citys {
          font-size: 12px;
          .city {
            cursor: pointer;
            &:hover {
              background-color: rgba(255, 145, 0, 0.5);
            }
          }
        }
      }
    }
  }
}
