.header {
  background-color: #fff;
  z-index: 999;
  width: 100%;
  top: 0;
  margin-bottom: 10px;
  box-shadow: rgba(92, 91, 91, 0.35) 0px 5px 15px;
  @media screen and (max-width: 991px) {
    & {
      flex-direction: row-reverse !important;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
      .logo {
        margin: auto;
        justify-self: center !important;
      }
    }
  }
  .btn-sign {
    button {
      background-color: #ffede2;
      color: #ff8a44;
    }
    i {
      font-size: 1.3rem;
      color: #333;
    }
  }
  .menu-icon {
    i {
      font-size: 1.3rem;
    }
  }
}
